html {
    font-size: 100%;
    font-family: sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

a {
    display: block;
}

.layout {
    height: 100%;
    font-size: 1.2rem;
}

.footer {
    position: fixed;
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    border-top: 3px solid pink;
    background-color: white;
}

.list {
    padding: 1rem;
}

.slide-in {
    height: 100%;
    color: #fcfcfc;
    padding: 1rem;
    animation: moveFromRight 0.4s ease both;
}

.slide-in a {
    color: #fcfcfc;
}

.slide-out {
    animation: moveToRight 0.4s ease both;
}

.detail-1 {
    background-color: #001f3f;
}

.detail-2 {
    background-color: #0074d9;
}

@keyframes moveFromRight {
    from { transform: translateX(100%); }
}

@keyframes moveToRight {
    to { transform: translateX(100%); }
}
