<div data-role="header">
    <h1>Examples</h1>
    <p>View the examples below, by clicking on one of them</p>
</div>

<ul data-role="listview" data-inset="true">
    {{#list}}
        <li>
            <a href="#/examples/{{.}}">{{.}}</a>
        </li>
    {{/list}}
</ul>

