.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid $light-grey;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: $font-header;
}

.bottom-nav a {
    text-align: center;
    color: $dark-grey;
}

.bottom-nav a.active {
    color: $blue;
}

.bottom-nav i {
    display: block;
}

.bottom-nav span {
    font-size: 0.7rem;
}

.top-nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid $light-grey;
    background-color: darken($light-grey, 20%);
    width: 100%;
    padding: 0.2rem 1rem;
    text-align: center;
    box-sizing: border-box;
    font-family: $font-header;
    font-size: 1.4rem;
}

.top-nav span {
    position: absolute;
    top: 0.2rem;
    left: 0.8rem;
    color: $blue;
}

.top-nav span i {
    float:left;
    font-size: 1.4rem;
    line-height: 1.2;
}
