body {
    font-family: $font-body;
}


h1,
h2,
h4 {
    font-family: $font-header;
}

html { font-size: 100% }
p { font-size: $body-font-size }
h1 { font-size: 2.4rem }
h2 { font-size: 2.0rem }
h4 { font-size: 1.6rem }

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}

h2 {
    margin-bottom: 0.6rem;
}

h4 {
    margin-bottom: 0.2rem;
    margin-top: 1.8rem;
    line-height: 1.4;
}

h4:first-of-type {
    margin-top: 0.6rem;
}

p {
    margin-top: 0.2rem;
    line-height: 1.4;
}
