$light-grey: #ccc;
$dark-grey: #666;
$almost-black: #333;
$white: #fff;
$almost-white: #eee;
$a-bit-more-grey: #ddd;
$black: #000;

$blue: #0074d9;
$blue-text: $white;
$green: #2ecc40;
$red: #ff4136;
$red-text: $white;
$yellow: #ffdc00;


$font-body: 'Merriweather', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;

$line-height: 1.4;
$body-font-size: 1.4rem;
