#header {
    background: #4CAF50;
    color: #fff;
}

.more {
    overflow-wrap: break-word;
}

#profile {
    color: #fff;
    height: 20vh;
    background-image: url('http://lorempixel.com/400/150/abstract/2/');
    margin: -1em;
}

.profile-background {
    min-width: 100%;
    margin: -1em;
}

.profile-pic {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 50%;
}

.profile-pic .profile-thumbnail {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.profile-text {
    margin-top: 20px;
    margin-right: 25px;
    z-index: 10;
    float: right;
}

.profile-text .sublime {
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 400;
    display: block;
}