body {
    font-family: 'Lora', serif;
}

.title {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.4rem;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
}

.container {
    padding: 1rem;
    margin-bottom: 3.2rem;
}

.container p {
    line-height: 1.4;
    font-size: 1.2rem;
}

.container img {
    width: 100%;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: white;
    display: flex;
    flex-flow: row || nowrap;
    justify-content: space-evenly;
}

.bottom-nav a {
    text-align: center;
    color: #666;
}

.bottom-nav a.active {
    color: #4e75ba;
}

.bottom-nav i {
    display: block;
}

.bottom-nav span {
    font-size: 0.7rem;
}
