* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ace;
    height: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    font-family: sans-serif;
}
