@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');


html {
    font-size: 100%;
}

body {
    line-height: 1.4;
}

main {
    padding: 1.4rem 0.6rem;
}

h1,
h2,
h4 {
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-family: 'Merriweather', serif;
    margin-bottom: 1.4rem;
    font-size: 1rem;
}
