* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    width: 98%;
    margin: 2em auto;
}

p {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1.96em;
}
